[Desktop Entry]
Encoding=UTF-8
Name=Link to sabaaalmomani/projectWithReham
Type=Link
URL=https://github.com/sabaaalmomani/projectWithReham
Icon=text-html
